/ {
	aliases {
		scd41 = &scd4x;
		bme280 = &bme280;
	};
};

&i2c1 {
	status = "okay";
	scd4x: scd4x@62 {
		status = "okay";
		compatible = "sensirion,scd41";
		reg = <0x62>;
		mode = <1>;
	};
	bme280: bme280@76 {
		status = "okay";
        compatible = "bosch,bme280";
        reg = <0x76>;
    };
};
